/* Write CSS Here */
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(23, 23, 24);
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    background-color: rgb(7, 7, 7);
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.left {
    position: initial;
    background-color: rgb(71, 77, 163);
    padding: 20px;

}

.right {
    position: initial;
    background-color: rgb(175, 137, 32);
    padding: 30px;

}

.image,
.Contact,
.Skills,
.Language,
.Hobbies,
.title,
.Summary,
.Experience,
.Education,
.project {
    margin-bottom: 30px;
}

.h2 {
    background-color: rgb(15, 15, 15);
}